<section id="{{ $data.uid }}" class="{{ $data.type.toLocaleLowerCase() }}" style="margin-top: {{$data.margin[0]}}px; margin-right: {{$data.margin[1]}}px; margin-bottom: {{$data.margin[2]}}px; margin-left: {{$data.margin[3]}}px; padding-top: {{$data.padding[0]}}px; padding-right: {{$data.padding[1]}}px; padding-bottom: {{$data.padding[2]}}px; padding-left: {{$data.padding[3]}}px;">
	{{set style = "color: " + $data.color + ";"}}
	{{if $data.fontSize == 'small' }}
	{{set style = style + "font-size: 18px;" }}
	{{else if $data.fontSize == 'middle'}}
	{{set style = style + "font-size: 24px;" }}
	{{else if $data.fontSize == 'big' }}
	{{set style = style + "font-size: 36px;" }}
	{{/if}} 
	{{if $data.textAlign == 'left' }}
	{{set style = style + "text-align: " + $data.textAlign + ";"}}
	{{else if $data.textAlign == 'center'}}
	{{set style = style + "text-align: " + $data.textAlign + ";"}}
	{{else if $data.textAlign == 'right' }}
	{{set style = style + "text-align: " + $data.textAlign + ";"}}
	{{/if}}
	<a href="{{ $data.url || 'javascript:void(0);' }}" style="{{ style }}">{{ $data.text }}</a>
</section>
